.financial__component.input {
  position: relative;
  
  ::ng-deep [input__symbol] {
    position: absolute;
    left: 8px;
    top: 6px;
    font-size: 14px;
    line-height: 22px;
    color: #888888;
  }
  input {
    border: 1px solid #979797;
    font-size: 14px;
    line-height: 22px;
    color: #888888;
    border-radius: 4px;
    height: 34px;
    padding: 0 8px;
    width: 100%;
    background-color: white;
    transition: border-color .4s;
    &:focus {
      outline: none;
      border-color: var(--dark-gray);
    }
  }
  &.symbol {
    input {
      padding-left: 30px;

    }
  }
}
